menu "OVStops"

    menuconfig OVS_WIFI_SSID
        string "WiFI SSID"

    menuconfig OVS_WIFI_PASSWORD
        string "WiFI password"
    
    menuconfig OVS_WORKER_URL
        string "Ovstops Cloudflare Worker URL"

    menuconfig OVS_SYSLOG_SERVER
        string "Syslog server IP address (UDP)"
    
endmenu